[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

PyYAML = "*"
selenium = "*"
Fabric = "*"
Flask = "*"
avocado-framework = "*"
avocado-framework-plugin-result-html = "*"
simplejson = "*"


[dev-packages]

pylint = "*"
"autopep8" = "*"


[requires]

python_version = "2.7"
